Repository 0dig/ceph, changes with the labels that .github/labeler.yml gives for each.
All labels: pybind, common, core, crimson, dashboard, CI

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/pybind/mgr/dashboard/frontend/package.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: src/pybind/mgr/requirements-required.txt to reduce vulnerabilities
  src/pybind/mgr/requirements-required.txt
Labels: pybind

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/pybind/mgr/rook/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/rook/requirements.txt
Labels: none

fix: src/script/requirements.backport-create-issue.txt to reduce vulnerabilities
  src/script/requirements.backport-create-issue.txt
Labels: none

fix: src/pybind/mgr/rook/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/rook/requirements.txt
Labels: none

fix: src/script/requirements.backport-create-issue.txt to reduce vulnerabilities
  src/script/requirements.backport-create-issue.txt
Labels: none

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: src/pybind/mgr/requirements-required.txt to reduce vulnerabilities
  src/pybind/mgr/requirements-required.txt
Labels: pybind

fix: src/pybind/mgr/dashboard/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/dashboard/requirements.txt
Labels: dashboard

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/pybind/mgr/dashboard/frontend/package.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/pybind/mgr/dashboard/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/dashboard/requirements.txt
Labels: dashboard

fix: src/python-common/requirements.txt to reduce vulnerabilities
  src/python-common/requirements.txt
Labels: none

fix: src/pybind/mgr/rook/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/rook/requirements.txt
Labels: none

fix: src/script/requirements.backport-create-issue.txt to reduce vulnerabilities
  src/script/requirements.backport-create-issue.txt
Labels: none

fix: src/pybind/mgr/dashboard/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/dashboard/requirements.txt
Labels: dashboard

fix: src/python-common/requirements.txt to reduce vulnerabilities
  src/python-common/requirements.txt
Labels: none

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/ceph-volume/plugin/zfs/requirements_dev.txt to reduce vulnerabilities
  src/ceph-volume/plugin/zfs/requirements_dev.txt
Labels: none

fix: src/pybind/mgr/dashboard/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/dashboard/requirements.txt
Labels: dashboard

.github/labeler.yml:

pybind:
  - src/pybind/cephfs/*
  - src/pybind/mgr/*
  - src/pybind/rados/*
  - src/pybind/rbd/*
  - src/pybind/rgw/*
  - src/pybind/*

common:
  - src/common
  - src/global
  - src/log

core:
  - src/blk/**
  - src/crush/*
  - src/librados/**
  - src/mgr/**
  - src/mon/**
  - src/os/**
  - src/osd/**

crimson:
  - doc/dev/crimson/**
  - src/crimson/**
  - src/test/crimson/**
  - qa/suites/crimson-rados/**

dashboard:
  - src/pybind/mgr/dashboard/**
  - qa/suites/rados/dashboard/**
  - qa/tasks/mgr/test_dashboard.py
  - qa/tasks/mgr/dashboard/**
  - monitoring/**
  - doc/mgr/dashboard.rst
  - doc/dev/developer_guide/dash-devel.rst

CI:
  - .github/**
