Repository 0dig/ceph, changes with the labels that .github/labeler.yml gives for each.
All labels: pybind, common, core, crimson, dashboard, CI

.github/labeler.yml:

pybind:
  - src/pybind/cephfs/*
  - src/pybind/mgr/*
  - src/pybind/rados/*
  - src/pybind/rbd/*
  - src/pybind/rgw/*
  - src/pybind/*

common:
  - src/common
  - src/global
  - src/log

core:
  - src/blk/**
  - src/crush/*
  - src/librados/**
  - src/mgr/**
  - src/mon/**
  - src/os/**
  - src/osd/**

crimson:
  - doc/dev/crimson/**
  - src/crimson/**
  - src/test/crimson/**
  - qa/suites/crimson-rados/**

dashboard:
  - src/pybind/mgr/dashboard/**
  - qa/suites/rados/dashboard/**
  - qa/tasks/mgr/test_dashboard.py
  - qa/tasks/mgr/dashboard/**
  - monitoring/**
  - doc/mgr/dashboard.rst
  - doc/dev/developer_guide/dash-devel.rst

CI:
  - .github/**

fix: upgrade bootstrap from 5.0.0 to 5.2.3
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: upgrade @popperjs/core from 2.10.2 to 2.11.7
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: upgrade async-mutex from 0.2.4 to 0.4.0
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: upgrade @circlon/angular-tree-component from 10.0.0 to 10.0.4
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: upgrade @types/file-saver from 2.0.1 to 2.0.5
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/pybind/mgr/diskprediction_local/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/diskprediction_local/requirements.txt
Labels: none

fix: src/pybind/mgr/diskprediction_local/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/diskprediction_local/requirements.txt
Labels: none

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: src/pybind/mgr/dashboard/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/dashboard/requirements.txt
Labels: dashboard

fix: src/pybind/mgr/requirements-required.txt to reduce vulnerabilities
  src/pybind/mgr/requirements-required.txt
Labels: pybind

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: src/pybind/mgr/dashboard/requirements-lint.txt to reduce vulnerabilities
  src/pybind/mgr/dashboard/requirements-lint.txt
Labels: dashboard

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: monitoring/ceph-mixin/requirements-lint.txt to reduce vulnerabilities
  monitoring/ceph-mixin/requirements-lint.txt
Labels: dashboard

fix: src/pybind/mgr/dashboard/frontend/package.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

fix: src/script/requirements.backport-create-issue.txt to reduce vulnerabilities
  src/script/requirements.backport-create-issue.txt
Labels: none

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: src/pybind/mgr/requirements-required.txt to reduce vulnerabilities
  src/pybind/mgr/requirements-required.txt
Labels: pybind

fix: src/pybind/mgr/rook/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/rook/requirements.txt
Labels: none

fix: src/pybind/mgr/diskprediction_local/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/diskprediction_local/requirements.txt
Labels: none

fix: src/script/requirements.backport-create-issue.txt to reduce vulnerabilities
  src/script/requirements.backport-create-issue.txt
Labels: none

fix: src/pybind/mgr/requirements-required.txt to reduce vulnerabilities
  src/pybind/mgr/requirements-required.txt
Labels: pybind

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: src/pybind/mgr/rook/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/rook/requirements.txt
Labels: none

fix: src/pybind/mgr/dashboard/requirements-test.txt to reduce vulnerabilities
  src/pybind/mgr/dashboard/requirements-test.txt
Labels: dashboard

fix: src/pybind/mgr/dashboard/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/dashboard/requirements.txt
Labels: dashboard

fix: src/ceph-volume/plugin/zfs/requirements_dev.txt to reduce vulnerabilities
  src/ceph-volume/plugin/zfs/requirements_dev.txt
Labels: none

fix: src/pybind/mgr/dashboard/requirements-lint.txt to reduce vulnerabilities
  src/pybind/mgr/dashboard/requirements-lint.txt
Labels: dashboard

fix: monitoring/ceph-mixin/requirements-lint.txt to reduce vulnerabilities
  monitoring/ceph-mixin/requirements-lint.txt
Labels: dashboard

fix: src/python-common/requirements.txt to reduce vulnerabilities
  src/python-common/requirements.txt
Labels: none

fix: monitoring/ceph-mixin/tests_dashboards/requirements.txt to reduce vulnerabilities
  monitoring/ceph-mixin/tests_dashboards/requirements.txt
Labels: dashboard

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: src/pybind/mgr/requirements-required.txt to reduce vulnerabilities
  src/pybind/mgr/requirements-required.txt
Labels: pybind

fix: src/pybind/mgr/snap_schedule/requirements.txt to reduce vulnerabilities
  src/pybind/mgr/snap_schedule/requirements.txt
Labels: none

fix: src/pybind/mgr/requirements-required.txt to reduce vulnerabilities
  src/pybind/mgr/requirements-required.txt
Labels: pybind

fix: admin/doc-requirements.txt to reduce vulnerabilities
  admin/doc-requirements.txt
Labels: none

fix: src/pybind/mgr/dashboard/frontend/package.json & src/pybind/mgr/dashboard/frontend/package-lock.json to reduce vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard
